absl-py==0.12.0
adal @ file:///home/conda/feedstock_root/build_artifacts/adal_1611297630154/work
aiohttp==3.7.4.post0
ansiwrap==0.8.4
antlr4-python3-runtime==4.8
appdirs @ file:///home/conda/feedstock_root/build_artifacts/appdirs_1603108395799/work
argon2-cffi==20.1.0
arrow @ file:///home/conda/feedstock_root/build_artifacts/arrow_1615160178958/work
asn1crypto @ file:///home/conda/feedstock_root/build_artifacts/asn1crypto_1595949944546/work
async-generator==1.10
async-timeout==3.0.1
attrs==20.3.0
backcall==0.2.0
backports.functools-lru-cache @ file:///home/conda/feedstock_root/build_artifacts/backports.functools_lru_cache_1616843134209/work
binaryornot==0.4.4
black @ file:///home/conda/feedstock_root/build_artifacts/black-recipe_1599478779128/work
bleach==3.3.0
blinker==1.4
brotlipy==0.7.0
cachetools==4.2.1
caip-notebooks-serverextension @ file:///opt/conda/conda-bld/dlenv-base_1616980312610/work/packages/server_extension
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
click==7.1.2
cloudpickle @ file:///home/conda/feedstock_root/build_artifacts/cloudpickle_1598400192773/work
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1602866480661/work
conda==4.9.2
conda-package-handling @ file:///home/conda/feedstock_root/build_artifacts/conda-package-handling_1602876795648/work
configparser==5.0.2
confuse @ file:///home/conda/feedstock_root/build_artifacts/confuse_1605988134315/work
cookiecutter==1.7.2
cryptography @ file:///home/conda/feedstock_root/build_artifacts/cryptography_1616851478755/work
cycler==0.10.0
dataclasses==0.6
decorator==5.0.7
defusedxml==0.7.1
docker @ file:///home/conda/feedstock_root/build_artifacts/docker-py_1614194886028/work
docker-pycreds==0.4.0
entrypoints==0.3
fsspec==0.9.0
future==0.18.2
fvcore==0.1.5.post20210410
gcsfs @ file:///home/conda/feedstock_root/build_artifacts/gcsfs_1613013312379/work
gitdb==4.0.7
GitPython==3.1.14
google-api-core @ file:///home/conda/feedstock_root/build_artifacts/google-api-core-split_1616709747968/work
google-api-python-client @ file:///home/conda/feedstock_root/build_artifacts/google-api-python-client_1614968438316/work
google-auth==1.28.1
google-auth-httplib2 @ file:///home/conda/feedstock_root/build_artifacts/google-auth-httplib2_1601483325475/work
google-auth-oauthlib==0.4.4
google-cloud-bigquery==1.26.1
google-cloud-bigquery-storage==1.0.0
google-cloud-bigtable==1.4.0
google-cloud-core==1.3.0
google-cloud-dataproc==1.1.1
google-cloud-datastore==1.12.0
google-cloud-firestore==1.8.1
google-cloud-kms==1.4.0
google-cloud-language==1.3.0
google-cloud-logging==1.15.1
google-cloud-monitoring==1.1.0
google-cloud-pubsub==1.7.0
google-cloud-scheduler==1.3.0
google-cloud-spanner==1.17.1
google-cloud-speech==1.3.2
google-cloud-storage==1.30.0
google-cloud-tasks==1.5.0
google-cloud-translate==2.0.2
google-cloud-videointelligence==1.15.0
google-cloud-vision==1.0.0
google-crc32c==1.1.2
google-resumable-media==1.2.0
googleapis-common-protos @ file:///home/conda/feedstock_root/build_artifacts/googleapis-common-protos-feedstock_1616710767141/work
greenlet @ file:///home/conda/feedstock_root/build_artifacts/greenlet_1615997408262/work
grpc-google-iam-v1==0.12.3
grpcio==1.37.0
grpcio-gcp @ file:///home/conda/feedstock_root/build_artifacts/grpcio-gcp_1604414757985/work
htmlmin==0.1.12
httplib2 @ file:///home/conda/feedstock_root/build_artifacts/httplib2_1612815608648/work
hydra-core==1.0.6
idna==2.10
ImageHash @ file:///home/conda/feedstock_root/build_artifacts/imagehash_1605809872811/work
importlib-metadata==4.0.1
importlib-resources==5.1.2
iopath==0.1.8
ipykernel==5.5.3
ipython==7.22.0
ipython-genutils==0.2.0
ipython-sql @ file:///home/conda/feedstock_root/build_artifacts/ipython-sql_1602667927030/work
ipywidgets @ file:///home/conda/feedstock_root/build_artifacts/ipywidgets_1609995587151/work
jedi==0.18.0
Jinja2==2.11.3
jinja2-time==0.2.0
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1612898609989/work
json5 @ file:///home/conda/feedstock_root/build_artifacts/json5_1600692310011/work
jsonschema==3.2.0
jupyter-client==6.1.12
jupyter-core==4.7.1
jupyter-http-over-ws==0.0.8
jupyterlab==1.2.16
jupyterlab-git @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab-git_1598805204722/work
jupyterlab-pygments==0.1.2
jupyterlab-server @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_server_1593951277307/work
jupyterlab-widgets @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_widgets_1609173350931/work
kiwisolver==1.3.1
kubernetes @ file:///home/conda/feedstock_root/build_artifacts/python-kubernetes_1605253606169/work
llvmlite==0.36.0
Markdown==3.3.4
MarkupSafe==1.1.1
matplotlib==3.4.1
missingno==0.4.2
mistune==0.8.4
multidict==5.1.0
mypy-extensions @ file:///home/conda/feedstock_root/build_artifacts/mypy_extensions_1610127163566/work
nb-conda @ file:///home/conda/feedstock_root/build_artifacts/nb_conda_1611345550379/work
nb-conda-kernels @ file:///home/conda/feedstock_root/build_artifacts/nb_conda_kernels_1606762466752/work
nbclient==0.5.3
nbconvert==6.0.7
nbdime @ file:///home/conda/feedstock_root/build_artifacts/nbdime_1601645814261/work
nbformat==5.1.3
nest-asyncio==1.5.1
networkx @ file:///home/conda/feedstock_root/build_artifacts/networkx_1598210780226/work
ninja==1.10.0.post2
notebook==6.3.0
notebook-executor @ file:///opt/conda/conda-bld/dlenv-base_1616980312610/work/packages/notebook_executor
numba @ file:///home/conda/feedstock_root/build_artifacts/numba_1616707886433/work
numpy==1.20.2
oauthlib==3.1.0
olefile @ file:///home/conda/feedstock_root/build_artifacts/olefile_1602866521163/work
omegaconf==2.0.6
packaging==20.9
pandas==1.2.3
pandas-profiling @ file:///home/conda/feedstock_root/build_artifacts/pandas-profiling_1613839428900/work
pandocfilters==1.4.3
papermill @ file:///home/conda/feedstock_root/build_artifacts/papermill_1615479738199/work
parso==0.8.2
pathspec @ file:///home/conda/feedstock_root/build_artifacts/pathspec_1605120834673/work
pathtools==0.1.2
patsy==0.5.1
pexpect==4.8.0
phik @ file:///home/conda/feedstock_root/build_artifacts/phik_1615724006677/work
pickleshare==0.7.5
Pillow==8.2.0
plyfile==0.7.3
portalocker==2.3.0
poyo==0.5.0
prettytable @ file:///home/conda/feedstock_root/build_artifacts/prettytable_1614725168556/work
prometheus-client==0.10.1
promise==2.3
prompt-toolkit==3.0.18
protobuf==3.15.8
psutil==5.8.0
ptyprocess==0.7.0
pyarrow==3.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycosat @ file:///home/conda/feedstock_root/build_artifacts/pycosat_1610094791171/work
pycparser==2.20
Pygments==2.8.1
PyJWT @ file:///home/conda/feedstock_root/build_artifacts/pyjwt_1610910308735/work
pyOpenSSL @ file:///home/conda/feedstock_root/build_artifacts/pyopenssl_1608055815057/work
pyparsing==2.4.7
pyrsistent==0.17.3
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1610291444829/work
python-dateutil==2.8.1
python-slugify @ file:///home/conda/feedstock_root/build_artifacts/python-slugify_1593573453419/work
pytorch-lightning==1.2.7
pytorch3d==0.4.0
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1612179539967/work
PyWavelets @ file:///home/conda/feedstock_root/build_artifacts/pywavelets_1607290802651/work
PyYAML==5.3.1
pyzmq==22.0.3
regex @ file:///home/conda/feedstock_root/build_artifacts/regex_1616104405652/work
requests==2.25.1
requests-oauthlib==1.3.0
retrying==1.3.3
rsa==4.7.2
ruamel-yaml-conda @ file:///home/conda/feedstock_root/build_artifacts/ruamel_yaml_1611943443937/work
scikit-learn @ file:///home/conda/feedstock_root/build_artifacts/scikit-learn_1611079729065/work
scipy @ file:///home/conda/feedstock_root/build_artifacts/scipy_1616878678759/work
seaborn @ file:///home/conda/feedstock_root/build_artifacts/seaborn-split_1611834504644/work
Send2Trash==1.5.0
sentry-sdk==1.0.0
shortuuid==1.0.1
simplejson @ file:///home/conda/feedstock_root/build_artifacts/simplejson_1610147090454/work
six==1.15.0
smmap==4.0.0
SQLAlchemy @ file:///home/conda/feedstock_root/build_artifacts/sqlalchemy_1616781568121/work
sqlparse @ file:///home/conda/feedstock_root/build_artifacts/sqlparse_1602142927465/work
statsmodels @ file:///home/conda/feedstock_root/build_artifacts/statsmodels_1612273600586/work
subprocess32==3.5.4
tabulate==0.8.9
tangled-up-in-unicode @ file:///home/conda/feedstock_root/build_artifacts/tangled-up-in-unicode_1615712185579/work
tenacity @ file:///home/conda/feedstock_root/build_artifacts/tenacity_1614801055552/work
tensorboard==2.4.1
tensorboard-plugin-wit==1.8.0
termcolor==1.1.0
terminado==0.9.4
testpath==0.4.4
text-unidecode==1.3
textwrap3==0.9.2
threadpoolctl @ file:///tmp/tmp79xdzxkt/threadpoolctl-2.1.0-py3-none-any.whl
toml @ file:///home/conda/feedstock_root/build_artifacts/toml_1604308577558/work
torch==1.7.0
torchmetrics==0.2.0
torchvision==0.8.1
tornado==6.1
tqdm==4.60.0
traitlets==5.0.5
typed-ast @ file:///home/conda/feedstock_root/build_artifacts/typed-ast_1609539248798/work
typing-extensions==3.7.4.3
Unidecode @ file:///home/conda/feedstock_root/build_artifacts/unidecode_1612533191922/work
uritemplate==3.0.1
urllib3==1.26.4
visions @ file:///home/conda/feedstock_root/build_artifacts/visions_1600915384170/work
wandb==0.10.25
wcwidth==0.2.5
webencodings==0.5.1
websocket-client @ file:///home/conda/feedstock_root/build_artifacts/websocket-client_1610127652206/work
Werkzeug==1.0.1
whichcraft==0.6.1
widgetsnbextension @ file:///home/conda/feedstock_root/build_artifacts/widgetsnbextension_1605475530234/work
wrapt @ file:///home/conda/feedstock_root/build_artifacts/wrapt_1610094880759/work
yacs==0.1.8
yarl==1.6.3
zipp==3.4.1
